<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student information</title>
</head>
<body>
    <h1>Student information</h1>
    <h2> hello <%= student.name%> </h2>
    <h2> Email is : <%= student.email%> </h2>
    <h2> age is : <%= student.age%> </h2>
</body>
</html>